.detail-project{
	background-color: #b0a0ff; 
	border-radius: 5px; 
	border-style: solid;
	margin-right: 540px;
	margin-top: 3px; 
	position: relative;
	float: right;
	padding: 15px; 
	width: 400px; 
	height: 515px;  
}
.detail-grafic{
	height: 140px;
	border-bottom: solid;
	border-left: solid; 
	border-radius: 3px; 
	margin: 0px;
}
.detail-button{
	margin-top: 100px;
	background-color: #615596; 
}
.detail-notes{
	width: 150px; 
	height: auto;
	word-break: break-all;
	white-space: normal;
	border-bottom: dashed;
	border-top: dashed;
}