.edit-project{
	position: relative;
	float: right;
	margin-right: 540px; 
	margin-top: 3px; 
	padding: 30px; 
	border-style: solid;
	border-radius: 5px; 
	background-color: #b0a0ff; 
}
.update-button{
	background-color: #615596; 
}
.update-notes{
	white-space: normal;
	word-break: break-all;
	position: relative;
	height: 150px;
	margin-left: -8px; 
	padding: 5px;
	border-style: dotted;
	border-radius: 5px; 
	border-color: #a29ac7; 
}

