
<div class="container">
	<button class="but_nav" (click)="home()" mat-raised-button color="primary">Proyect</button>
	<button  class="but_nav" (click)="underConstruction()" mat-raised-button color="primary">Groups</button>
	<button  class="but_nav" (click)="underConstruction()" mat-raised-button color="primary">Activities</button>
	<button  class="but_nav" (click)="underConstruction()" mat-raised-button color="primary">Schedule</button>
	<button  class="but_nav" (click)="underConstruction()" mat-raised-button color="primary">TimeKeeping</button>
	<button  class="but_nav" (click)="underConstruction()" mat-raised-button color="primary">Flow</button>
	<button  class="but_nav" (click)="underConstruction()" mat-raised-button color="primary">Reporting</button>
	<div class="left-layout"> 
		<mat-icon style="position: relative;float: right;margin: 25px;">person</mat-icon>
		<div style="position: relative; float: right;right;margin: 25px;">
			welcome user
			<br>
			admin
		</div>
	</div>
</div>
<button class="filter-button" mat-fab color="accent">
	<mat-icon>filter_list</mat-icon>
</button>
<div class="div-projects">
	<app-projects></app-projects>
</div>
<router-outlet></router-outlet>
